<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../../css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../home/home.view.html"><b>FORM MAKER</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../users/register.view.html">register</a></li>
                <li><a href="../users/login.view.html">login</a></li>
                <li><a href="#">username</a></li>
                <li><a href="../home/home.view.html">logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="../home/home.view.html">home</a></li>
                <li><a href="../users/profile.view.html">profile</a></li>
                <li class="active"><a href="admin.view.html">admin <span class="sr-only">(current)</span></a></li>
                <li><a href="../forms/forms.view.html">forms</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>

            <h2>Users</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Username</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Password</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Role</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                </tr>
                <tr>
                    <td><input class="form-control" type="text" name="username" placeholder="username"/></td>
                    <td><input class="form-control" type="password" name="password" placeholder="password"/></td>
                    <td><input class="form-control" type="text" name="role" placeholder="role1, role2"/></td>
                    </td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>alice</td>
                    <td> </td>
                    <td>student</td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>bob</td>
                    <td> </td>
                    <td>faculty | admin</td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>charlie</td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>