<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-1 col-md-10 main">
            <h1 class="page-header">Profile</h1>

            <button class="btn button-movie" style="width: 150px"><a href="#/profileEdit">EDIT PROFILE</a></button>

            <div class="row">
                <div class="col-sm-4 board">
                    <h4 class="board-title">Likes</h4>
                    <div class="board-row">Batman</div>
                    <div class="board-row">Star Wars</div>
                    <div class="board-row">School of Rock</div>
                    <div class="board-row">The Cheetah Girls</div>
                </div>
                <div class="col-sm-4 board">
                    <h4 class="board-title">Scary Movies</h4>
                    <div class="board-row">Saw III</div>
                    <div class="board-row">Paranormal Activity</div>
                </div>
                <div class="col-sm-4 board">
                    <h4 class="board-title">Rom-Com Favorites</h4>
                    <div class="board-row">The Wedding Planner</div>
                    <div class="board-row">Bride Wars</div>
                    <div class="board-row">The Proposal</div>
                </div>
            </div>

            <div ng-if="model.profile.likesMovies.length">

                <h3>Movies I Like</h3>

                <div class="panel panel-default jga-movie-panel"
                     ng-repeat="movie in model.profile.likesMovies">
                    <div class="panel-heading">
                        <a href="#/details/{{movie.imdbID}}">
                            {{movie.title}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <a href="#/details/{{movie.imdbID}}">
                            <img ng-src="{{movie.poster}}" width="100px"/>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>