<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>

            <h2>Users</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Username</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Password</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> First Name</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Last Name</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Role</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                </tr>
                <tr>
                    <td><input ng-model="user.username" class="form-control" type="text" name="username" placeholder="username"/></td>
                    <td><input ng-model="user.password" class="form-control" type="password" name="password" placeholder="password"/></td>
                    <td><input ng-model="user.firstName" class="form-control" type="text" name="firstName" placeholder="first name"/></td>
                    <td><input ng-model="user.lastName" class="form-control" type="text" name="lastName" placeholder="last name"/></td>
                    <td><input ng-model="user.role" class="form-control" type="text" name="role" placeholder="role1, role2"/></td>
                    </td>
                    <td>
                        <a ng-click="addUser(user)">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a ng-click="updateUser(user)">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.username}}</td>
                    <td> </td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.role}}</td>
                    <!--<td><a href="#/fields">{{form.title}}</a></td>-->
                    <td>
                        <a ng-click="removeUser(user)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a ng-click="selectUser(user)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>