<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 main">
            <h1 class="page-header">Admin</h1>

            <h2>Users</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Username</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Password</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Role</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                </tr>
                <tr>
                    <td><input class="form-control" type="text" name="username" placeholder="username"/></td>
                    <td><input class="form-control" type="password" name="password" placeholder="password"/></td>
                    <td><input class="form-control" type="text" name="role" placeholder="role1, role2"/></td>
                    </td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>alice</td>
                    <td> </td>
                    <td>student</td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>bob</td>
                    <td> </td>
                    <td>faculty | admin</td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>charlie</td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>