<div ng-controller="AdminMoviesController" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Movies</h1>

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#/adminmovies">Movies</a></li>
                <li role="presentation"><a href="#/adminusers">Users</a></li>
            </ul>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Title</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Director</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Year</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Details</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                </tr>
                <tr>
                    <td><input ng-model="movie.title" class="form-control" type="text" name="movieName" placeholder="title"/></td>
                    <td><input ng-model="movie.director" class="form-control" type="text" name="movieDirector" placeholder="director"/></td>
                    <td><input ng-model="movie.year" class="form-control" type="number" name="movieYear" placeholder="year"/>
                    <td><input ng-model="movie.details" class="form-control" type="text" name="movieDetails" placeholder="details"/></td>
                    <td>
                        <a ng-click="addMovie(movie)">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a ng-click="updateMovie(movie)">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="movie in movies">
                    <td><a href="#/details/{{movie.imdbID}}">{{movie.title}}</a></td>
                    <td><a href="#/details/{{movie.imdbID}}">{{movie.director}}</a></td>
                    <td><a href="#/details/{{movie.imdbID}}">{{movie.year}}</a></td>
                    <td><a href="#/details/{{movie.imdbID}}">{{movie.details}}</a></td>
                    <td>
                        <a ng-click="deleteMovie($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a ng-click="selectMovie($index)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
