<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">{{movie.Title}} ({{movie.Year}}) by {{movie.Director}}</h2>

    <img ng-src="{{movie.Poster}}" class="pull-left details-poster"/>

    <p>{{movie.Plot}}</p>

    <h3>Actors</h3>

    <ul>
        <li ng-repeat="name in movie.Actors.split(',')">
            {{name}}
        </li>
    </ul>

    <h2 class="page-header">Reviews</h2>
    <input ng-model="title" class="form-control" placeholder="Write your review"/>
    <span class="glyphicon glyphicon-star-empty review-star"></span>
    <span class="glyphicon glyphicon-star-empty review-star"></span>
    <span class="glyphicon glyphicon-star-empty review-star"></span>
    <span class="glyphicon glyphicon-star-empty review-star"></span>
    <span class="glyphicon glyphicon-star-empty review-star"></span>
    <button ng-click="addReview(movie)" class="btn review-button">
        SUBMIT
    </button>
</div>
