<div ng-controller="FormController" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
                <li role="presentation"><a href="#/fields">Fields</a></li>
            </ul>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                </tr>
                <tr>
                    <td><input ng-model="form.title" class="form-control" type="text" name="formName" placeholder="name"/></td>
                    <td>
                        <a ng-click="addForm(form)">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a ng-click="updateForm(form)">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="form in forms">
                    <td><a href="#/fields">{{form.title}}</a></td>
                    <td>
                        <a ng-click="deleteForm($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a ng-click="selectForm($index)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
